@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    body {
        background-color:gray;
    }
    .glowna {
        margin-top:8%;
        text-align:center;
    }
</style>
<div class="glowna">
   <h3>Zespół Szkół Technicznych im. Tadeusza Kościuszki w Radomiu</h3>
    <img src="~/ZSTRadom.jpg" >
</div>

