@page
@model InstrukcjaTechnologiczna.PomoceModel
@{
    ViewData["Title"] = "Pomoce";
}
    <head>
        <script src="https://kit.fontawesome.com/06d2fabce8.js" crossorigin="anonymous"></script>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="~/css/MainStyle.css" />


    </head>
<h1 style="text-align:center">Pomoce</h1>

<table class="table">
    <thead>
        <tr>
            <th>Rodzaj</th>
            <th>Typ</th>
            <th>Kliknij aby wejść w szczegóły</th>
        </tr>
    </thead>
    @foreach (var pomoc in Model.Pomoce)
    {
        <tr>
            <td>@pomoc.RodzajPomocy</td>
            <td>@pomoc.Typ</td>
            <td>
                <a href=~/@pomoc.FilePath><i class="fas fa-info-circle"></i> </a>
            </td>

        </tr>
    }
</table>